.container-orders {
	width: 800px;
	height: min-content;
	display: flex;
	flex-direction: column;
	background-color: black;

	margin: 40px;
}

.row-order {
	width: 100%;
	height: 80px;
	background-color: antiquewhite;
	display: flex;

	margin-bottom: 5px;
	margin-top: 5px;
}

.row-address {
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 100px;
	height: 100%;
	background-color: aquamarine;
}

.row-description {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.orderlist_arrows {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.orderlist_arrows:hover {
	cursor: pointer
}